@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotator {
  animation: rotation 7s infinite linear;
}

/* From Uiverse.io by csemszepp */ 
.honeybg {

  height: 100%;
  width: 100%;
  background-color: #ffffff;
opacity: 0.98;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px ), repeating-linear-gradient( #e0e0e055, #e0e0e0 );
}

/* From Uiverse.io by himanshu9682 */ 
.type--A {
  --line_color: #555555;
  --back_color: #ffbfe1;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #bec6ff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #5cffe6;
}
.buttonmy {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.buttonmy__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.buttonmy::before,
.buttonmy::after,
.buttonmy__text::before,
.buttonmy__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.buttonmy::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.buttonmy::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.buttonmy__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.buttonmy__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.buttonmy__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.buttonmy__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.buttonmy__line:nth-child(1),
.buttonmy__line:nth-child(1)::before {
  left: 0;
}
.buttonmy__line:nth-child(2),
.buttonmy__line:nth-child(2)::before {
  right: 0;
}
.buttonmy:hover {
  letter-spacing: 6px;
}
.buttonmy:hover::before,
.buttonmy:hover .buttonmy__text::before {
  width: 8px;
}
.buttonmy:hover::after,
.buttonmy:hover .buttonmy__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.buttonmy__drow1,
.buttonmy__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.buttonmy__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.buttonmy__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.buttonmy__drow1::before,
.buttonmy__drow1::after,
.buttonmy__drow2::before,
.buttonmy__drow2::after {
  content: "";
  position: absolute;
}
.buttonmy__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.buttonmy__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.buttonmy__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.buttonmy__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.buttonmy__drow1,
.buttonmy__drow1::before,
.buttonmy__drow1::after,
.buttonmy__drow2,
.buttonmy__drow2::before,
.buttonmy__drow2::after {
  background: var(--back_color);
}
.buttonmy:hover .buttonmy__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.buttonmy:hover .buttonmy__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.buttonmy:hover .buttonmy__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.buttonmy:hover .buttonmy__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.buttonmy:hover .buttonmy__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.buttonmy:hover .buttonmy__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.containermy {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




